QFrame#left_column
{
    background-color: #F7F8FA;
    max-height: 640px;
    max-width: 50px;
    min-height: 440px;
    min-width: 50px;
    padding: 0px;
    margin: 0px;
}

QPushButton#table_button
{
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    padding: 0px;
    margin: 0px;
    icon-size: 30px;
}
QPushButton#table_button:checked
{
    background-color: #0281ff;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    icon-size: 30px;
}

QPushButton#setting_button
{
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    padding: 0px;
    margin: 0px;
    icon-size: 30px;
}
QPushButton#setting_button:hover
{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    icon-size: 30px;
}
