QDialog#chart_dialog
 {
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    max-height: 200px;
    max-width: 400px;
    min-height: 100px;
    min-width: 200px;
}