QFrame#bottom_spine_mod_widget
{
    background-color:#EBECF0;
    border-radius: 5px;
}


QFrame#top_spine_mod_widget
{
    background-color:#EBECF0;
    border-radius: 5px;
}

QFrame#left_spine_mod_widget
{
    background-color:#EBECF0;
    border-radius: 5px;
}

QFrame#right_spine_mod_widget
{
    background-color:#EBECF0;
    border-radius: 5px;
}

QFrame#axe_legend_mod_widget
{
    background-color:#EBECF0;
    border-radius: 5px;
}

QDoubleSpinBox {
    border : 1px solid #000000;
    border-radius: 5px;
    width: 50px;
}
QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 16px;
    border-width: 1px;
}
QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 16px;
    border-width: 1px;
    border-top-width: 0;
}

