QMainWindow#MainWindow
{
    background-color: {{COLOR_CONTENT_BACKGROUND}};
    min-height: 520px;
    min-width: 800px;
}

QWidget#central_widget,
QWidget#left_workspace
{
    background-color: {{COLOR_CONTENT_BACKGROUND}};
}

QSplitter#workspace_splitter::handle,
QSplitter#explorer_control_splitter::handle
{
    background-color: {{COLOR_BORDER}};
    width: 6px;
}

QSplitter#workspace_splitter::handle:hover,
QSplitter#explorer_control_splitter::handle:hover
{
    background-color: {{COLOR_ACCENT}};
}
