QFrame#right_column
{
    background-color: #021036;
    max-height: 640px;
    max-width: 50px;
    min-height: 440px;
    min-width: 50px;
    padding: 0px;
    margin: 0px;
}

/* Tex的按钮 */
QPushButton#tex_button
{
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    max-height: 30px;
    max-width: 50px;
    min-height: 30px;
    min-width: 50px;
    padding: 0px;
    icon-size: 24px;
}
QPushButton#tex_button:checked
{
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #000000;
}
QPushButton#tex_button:hover
{
    background-color: #464a46;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

/* Matlab的按钮 */
QPushButton#matlab_button
{
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    max-height: 30px;
    max-width: 50px;
    min-height: 30px;
    min-width: 50px;
    padding: 0px;
    icon-size: 24px;
}
QPushButton#matlab_button:checked
{
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #000000;
}
QPushButton#matlab_button:hover
{
    background-color: #464a46;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

