/* 父组件 */
QFrame#title_bar
{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(55, 65, 81), stop:0.5 rgb(17, 24, 39), stop:1 rgb(0, 0, 0));
    max-height: 120px;
    max-width: 580px;
    min-height: 120px;
    min-width: 580px;
    border-top-left-radius: 10px; /* 调整半径 */
    border-top-right-radius: 10px; /* 调整半径 */
}

/* 改变按钮 */
QPushButton#change_button
{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    color: transparent;
    font-size: 12px;
    font-weight: bold;
    max-height: 36px;
    max-width: 30px;
    min-height: 36px;
    min-width: 30px;
    icon-size: 28px;
    margin-top: 0px;
    margin-left: 2px;
}
QPushButton#change_button:checked
{
    background-color: #f8faf8; /* 选中状态的背景颜色 */
    border-color: #ffffff;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
QPushButton#change_button:hover
{
    background-color: #464a46; 
    border: 1px solid #ffffff; 
    border-radius: 5px;
    color: #ffffff;
}

/*选择组件的菜单*/
QFrame#selector_menu_bar
{
    background-color: transparent;
    max-height: 56px;
    max-width: 380px;
    min-height: 56px;
    min-width: 380px;
    margin-top: 8px;
}

/* 选择组件的菜单按钮 */
QPushButton#select_menu_button
{
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    max-height: 50px;
    max-width: 80px;
    min-height: 50px;
    min-width: 80px;
    margin-bottom: 9px;
    padding-bottom: 5px;
    icon-size: 24px;
}
QPushButton#select_menu_button:checked
{
    background-color: #ffffff;
    border-radius: 5px;
    color: #000000;
}
QPushButton#select_menu_button:hover
{
    background-color: #464a46;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

/* 菜单栏 */
QFrame#menu_bar
{
    background-color: #f8faf8;
    max-height: 32px;
    max-width: 380px;
    min-height: 32px;
    min-width: 380px;
    border-color: #ffffff;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    padding-top: 6px;
    margin-top: 11px;
}

/* 菜单按钮  */
QPushButton#menu_button
{
    background-color: transparent;
    border: 0px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    max-height: 24px;
    max-width: 50px;
    min-height: 24px;
    min-width: 50px;
    icon-size: 24px;
}
QPushButton#menu_button:hover
{
    background-color: #a2a8a2;
    border: 1px solid #464a46;
    border-radius: 5px;
    color: #ffffff;
}

/*控制栏*/
QFrame#control_bar
{
    background-color: transparent;
    border: 1px solid #ffffff;
    max-height: 30px;
    max-width: 160px;
    min-height: 30px;
    min-width: 160px;
    margin-bottom: 20px;
}

/* 最小化按钮 */
QPushButton#minimize_button
{
    background-color: transparent;

    border-radius: 5px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 1px;
    icon-size: 18px;
    margin-bottom: 30px;
}
QPushButton#minimize_button:hover
{
    background-color: #464a46;
    border: 1px solid transparent;
    border-radius: 5px;
    color: transparent;
    font-size: 12px;
    font-weight: bold;
}

/* 关闭按钮 */
QPushButton#close_button
{
    background-color: transparent;
    border-radius: 5px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 1px;
    icon-size: 18px;
    margin-bottom: 30px;
}
QPushButton#close_button:hover
{
    background-color: #464a46;
    border: 1px solid transparent;
    border-radius: 5px;
    color: transparent;
    font-size: 12px;
    font-weight: bold;
}

/* 选择的菜单 */
QWidget#selector_menu
{
    background-color: #ffffff;
    max-height: 80px;
    max-width: 580px;
    min-height: 80px;
    min-width: 580px;
    margin-top: 0px;
}

/* 选择按钮 */
QToolButton#select_button
{
    background-color: transparent;
    border-radius: 5px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    icon-size: 40px;
}
QToolButton#select_button:hover
{
    background-color: #464a46;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    icon-size: 40px;
}