/* 父组件 */
QFrame#title_bar
{
background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(55, 65, 81), stop:0.5 rgb(17, 24, 39), stop:1 rgb(0, 0, 0));    color: #292b3d;
    max-height: 100px;
    max-width: 580px;
    min-height: 100px;
    min-width: 580px;
    border-top-left-radius: 10px; /* 调整半径 */
    border-top-right-radius: 10px; /* 调整半径 */
}

/* 改变按钮 */
QPushButton#change_button
{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    color: transparent;
    font-size: 12px;
    font-weight: bold;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
}
QPushButton#change_button:checked
{
    background-color: #f8faf8; /* 选中状态的背景颜色 */
    border: 1px solid #ffffff; /* 选中状态的边框颜色 */
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
}

/* 菜单按钮 */
QPushButton#menu_button
{
    background-color: rgb(227, 232, 192);
    border: 1px solid #d8d9ed;
    border-radius: 5px;
    color: #e9eef5;
    font-size: 12px;
    font-weight: bold;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
}

/* 选择按钮 */
QPushButton#select_button
{
    background-color: #f6878e;
    border: 1px solid #ea91bc;
    border-radius: 5px;
    color: #f389b7;
    font-size: 12px;
    font-weight: bold;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
}

/* 关闭按钮 */
QPushButton#close_button
{
    background-color: #f30e09;
    border: 1px solid #f30e09;
    border-radius: 5px;
    color: #f50707;
    font-size: 12px;
    font-weight: bold;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    padding: 1px;
}


