QFrame#component_tree_host
{
    background-color: {{COLOR_SURFACE}};
    border: 0px;
}

QLineEdit#component_tree_search
{
    background-color: {{COLOR_CONTENT_BACKGROUND}};
}

QTreeView#component_tree_view
{
    color: {{COLOR_TEXT_PRIMARY}};
    background-color: {{COLOR_SURFACE}};
    border: 0px;
    outline: 0px;
    alternate-background-color: {{COLOR_CONTENT_BACKGROUND}};
}

QTreeView#component_tree_view::item
{
    min-height: {{SIZE_TREE}}px;
    padding: 1px 4px;
}

QTreeView#component_tree_view::item:selected
{
    color: {{COLOR_TEXT_ON_DARK}};
    background-color: {{COLOR_ACCENT}};
    border-radius: {{RADIUS_SM}}px;
}

QTreeView#component_tree_view::item:hover:!selected
{
    background-color: {{COLOR_HOVER_LIGHT}};
}
