QFrame#table
{
    background-color: {{COLOR_SURFACE}};
    min-width: 220px;
    padding: 0px;
    margin: 0px;
}

QToolBar#table_toolbar
{
    background-color: {{COLOR_SURFACE}};
    border: 0px;
    border-bottom: 1px solid {{COLOR_BORDER}};
    spacing: 2px;
}
