QFrame#axes_semantic_inspector_panel,
QFrame#inspector_toolbox {
    border: 0px;
    background: transparent;
    color: {{COLOR_TEXT_PRIMARY}};
}

QFrame#axes_semantic_inspector_panel QLabel,
QFrame#axes_semantic_inspector_panel QCheckBox,
QFrame#axes_semantic_inspector_panel QRadioButton,
QFrame#axes_semantic_inspector_panel QGroupBox,
QFrame#inspector_toolbox QLabel,
QFrame#inspector_toolbox QCheckBox,
QFrame#inspector_toolbox QRadioButton,
QFrame#inspector_toolbox QGroupBox
{
    color: {{COLOR_TEXT_PRIMARY}};
}
