QFrame#fig_control_window
{
    max-height: 640px;
    max-width: 240px;
    min-height: 440px;
    min-width: 240px;
    padding: 0px;
    margin: 0px;
}

/* 图片修改窗口 */
QFrame#fig_modify_window
{
    background-color: #F7F8FA;
    max-height: 640px;
    max-width: 480px;
    min-height: 440px;
    min-width: 240px;
    padding: 0px;
    margin: 0px;
}

/* Tex的窗口 */
QFrame#tex_window
{
    background-color: #EBECF0;
    max-height: 640px;
    max-width: 480px;
    min-height: 640px;
    min-width: 480px;
    padding: 0px;
    margin: 0px;
}

/* Matlab的窗口 */
QFrame#matlab_window
{
    background-color: #EBECF0;
    max-height: 640px;
    max-width: 480px;
    min-height: 620px;
    min-width: 240px;
    padding: 0px;
    margin: 0px;
}