QFrame#bottom_bar
{
    background-color: #78797b;
    max-height: 40px;
    max-width: 580px;
    min-height: 40px;
    min-width: 580px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px;
    margin: 0px;
}

QFrame#message_bar
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QFrame#state_bar
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QLabel#bottom_bar_message
{
    background-color: transparent;
    color: #f2f2f2;
    font-size: 12px;
}

QLabel#state_bar_indicator
{
    background-color: transparent;
    font-size: 12px;
    color: #ff4d4f;
}

QLabel#state_bar_indicator[state="on"]
{
    color: #22c55e;
}

QLabel#state_bar_indicator[state="off"]
{
    color: #ff4d4f;
}
