QFrame#bottom_bar
{
    background-color: {{COLOR_STATUS_BACKGROUND}};
    max-height: {{SIZE_BOTTOM_BAR}}px;
    min-height: {{SIZE_BOTTOM_BAR}}px;
    padding: 0px;
    margin: 0px;
}

QFrame#message_bar
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QFrame#state_bar
{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QLabel#bottom_bar_message
{
    background-color: transparent;
    color: {{COLOR_TEXT_ON_DARK}};
}

QLabel#bottom_bar_message[level="success"]
{
    color: {{COLOR_SUCCESS}};
}

QLabel#bottom_bar_message[level="warning"]
{
    color: {{COLOR_WARNING}};
}

QLabel#bottom_bar_message[level="error"]
{
    color: {{COLOR_ERROR}};
}

QLabel#state_bar_indicator
{
    background-color: transparent;
    color: {{COLOR_TEXT_MUTED_ON_DARK}};
}

QLabel#state_bar_indicator[state="on"]
{
    color: {{COLOR_SUCCESS}};
}

QLabel#state_bar_indicator[state="off"]
{
    color: {{COLOR_TEXT_MUTED_ON_DARK}};
}
